<script>
    //invoices.js
    var let_queue = " @_localization.Getkey("Sıra").Value "
    var let_billNo = " @_localization.Getkey("Fatura No").Value "
    var let_billDate = " @_localization.Getkey("Fatura Tarihi").Value "
    var let_supplierCompany = " @_localization.Getkey("Tedarikçi Firma").Value "
    var let_print = " @_localization.Getkey("Yazdır").Value "
    var let_product = " @_localization.Getkey("Ürün").Value "
    var let_quantity = " @_localization.Getkey("Miktar").Value "
    var let_unitPrice = " @_localization.Getkey("Birim Fiyat").Value "
</script>

<div class="card border border-light" id="invoiceCard" style="display:block;">
    <div class="card-body">
        <h5 class="mb-4 bg-light p-2">
            <i class="mdi mdi-office-building me-1"></i>@_localization.Getkey("Fatura Listesi").Value
        </h5>
        <div class="app-search mb-2">
            <form>
                <div class="mb-2 position-relative">
                    <input type="text" class="form-control" id="searchInvoice" autocomplete="off" placeholder="@_localization.Getkey("Fatura No Ara...").Value">
                    <span class="mdi mdi-magnify search-icon"></span>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <div id="divInvoices"></div>
        </div>
    </div>
</div>
<section>
    <div class="printPage">
        <div class="modal fade" id="invoicePrintModal" tabindex="-1" role="dialog" aria-labelledby="invoicePrintModallabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="invoicePrintModallabel">@_localization.Getkey("Fatura Bilgileri").Value</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <div class="modal-body-wrapper">
                        <div class="modal-body" id="printPage">
                            <div class="clearfix">
                                <div class="float-start mb-1">
                                    <img src="@_localization.GetImagePath("invoice_logo.png")" alt="" height="300">
                                </div>
                                <div class="mt-3 float-start px-5">
                                    <p class="font-13"><strong>@_localization.Getkey("Fatura Tarihi").Value : </strong> &nbsp;&nbsp;&nbsp; <div id="invoiceDate"></div></p>
                                    <p class="font-13"><strong>@_localization.Getkey("Fatura No").Value : </strong> <span class="float-end"></span><div id="invoiceNo"></div></p>
                                </div>
                                <div class="float-end px-3">
                                    <div class="row mt-4">
                                        <div class="col-sm-4">
                                            <div class="text-sm-end">
                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-12">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive">
                                        <div id="divInvoiceDetail"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-sm-6">
                                    <div class="clearfix pt-3">
                                        <h6 class="text-muted">@_localization.Getkey("Notlar").Value :</h6>
                                        <small>
                                            @_localization.Getkey("Notİçi").Value
                                        </small>
                                    </div>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <div class="p-3 mt-4 mt-lg-0 rounded">
                                        <h4 class="header-title mb-3">@_localization.Getkey("Fiyat Özeti").Value</h4>
                                        <div class="table-responsive">
                                            <table class="table table-sm mb-0">
                                                <tbody>
                                                    <tr>
                                                        <td><b>@_localization.Getkey("Tutar").Value :</b></td>
                                                        <td><b id="productTotalAmount" class="float-end">0₺</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>@_localization.Getkey("KDV").Value :</b></td>
                                                        <td><b id="kdv" class="float-end">0₺</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>@_localization.Getkey("İndirim").Value :</b></td>
                                                        <td><b id="discount" class="float-end">0₺</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>@_localization.Getkey("Net-Tutar").Value :</b></td>
                                                        <td><b id="totalAmount" class="float-end">0₺</b></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="d-print-none mt-4">
                                    <div class="text-end">
                                        <button type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal">@_localization.Getkey("Vazgeç").Value</button>
                                        <button type="button" class="btn btn-sm btn-primary" onclick="printData()"><i class="mdi mdi-printer"></i>@_localization.Getkey("Yazdır").Value</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>       
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/invoice/invoices.js"></script>
