<script>
    //requestList.js
    var let_requestNo = " @_localization.Getkey("Talep No").Value "
    var let_company = " @_localization.Getkey("Şirket").Value "
    var let_status = " @_localization.Getkey("Durum").Value "

</script>
<div class="card border-light border">
    <h6 class="card-header">@_localization.Getkey("Talep Listesi").Value</h6>
    <div class="card-body">
        <ul class="nav nav-tabs nav-bordered mb-3">
            <li class="nav-item">
                <a href="#request1" data-bs-toggle="tab" aria-expanded="true" class="nav-link active">
                    @_localization.Getkey("Onaylı Talepler").Value
                </a>
            </li>
            <li class="nav-item">
                <a href="#request2" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                    @_localization.Getkey("Onay Bekleyen Talepler").Value
                </a>
            </li>
            <li class="nav-item">
                <a href="#request3" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                    @_localization.Getkey("Reddedilen Talepler").Value
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active show" id="request1">
                <div class="row">
                </div>
                <hr />
                <div class="table-responsive">
                    <div id="divRequest1">
                    </div>
                </div>
            </div>

            <div class="tab-pane " id="request2">
                <div class="row">
                </div>
                <hr />
                <div class="table-responsive">
                    <div id="divRequest2">
                    </div>
                </div>
            </div>

            <div class="tab-pane " id="request3">
                <div class="row">
                </div>
                <hr />
                <div class="table-responsive">
                    <div id="divRequest3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/request/requestList.js"></script>
