<script>
    //timeReports.js
    var let_queue = " @_localization.Getkey("Sıra").Value "
    var let_company = " @_localization.Getkey("Şirket").Value "
    var let_requestDate = " @_localization.Getkey("Talep Tarihi").Value "
    var let_readReport = " @_localization.Getkey("Raporu Oku").Value "
    var let_status = " @_localization.Getkey("Durum").Value "
    var let_readed = " @_localization.Getkey("Okundu").Value "
    var let_notReaded = " @_localization.Getkey("Okunmadı").Value "
    var let_new = " @_localization.Getkey("Yeni").Value "

</script>

<div class="card border border-light" id="invoiceCard" style="display:block;">
    <div class="card-body" style="min-height:500px;">
        <h5 class="mb-4 bg-light p-2">
            <i class="mdi mdi-office-building me-1"></i>@_localization.Getkey("Rapor Listesi").Value
        </h5>
        <div class="table-responsive">
            <div id="divReports"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModallabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="reportModallabel">@_localization.Getkey("Rapor Bilgileri").Value</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="test()" aria-hidden="true"></button>
            </div>
            <div class="modal-body" id="printPage">
                <div class="clearfix">
                    <div class="float-start mb-3">
                        <img src="@_localization.GetImagePath("invoice_logo.png")" alt="" height="300">
                    </div>
                    <div class="float-end">
                        <h4 class="m-0 d-print-none">@_localization.Getkey("Rapor").Value</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-sm mt-1">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <b>@_localization.Getkey("Talep Tarihi Ve Saati").Value :</b>
                                        </td>
                                        <td></td>
                                        <th></th>
                                        <td id="requestTime"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>@_localization.Getkey("Onay Tarihi Ve Saati").Value :</b>
                                        </td>
                                        <td></td>
                                        <th></th>
                                        <td id="requestApproveTime"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>@_localization.Getkey("Satın Alma Teklif Girme Saati").Value :</b>
                                        </td>
                                        <td></td>
                                        <th></th>
                                        <td id="offerTime"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>@_localization.Getkey("Yönetim Onay Saati").Value :</b>
                                        </td>
                                        <td></td>
                                        <th></th>
                                        <td id="offerApproveTime"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>@_localization.Getkey("Muhasebe Fatura Girişi").Value :</b>
                                        </td>
                                        <td></td>
                                        <th></th>
                                        <td id="invoiceEntryTime"></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <b>@_localization.Getkey("Stok Girişi").Value :</b>
                                        </td>
                                        <td></td>
                                        <th></th>
                                        <td id="stockCreateTime"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="d-print-none mt-4">
                    <div class="text-end">
                        <a class="btn btn-primary" onclick="printData()"><i class="mdi mdi-printer"></i> @_localization.Getkey("Yazdır").Value</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/report/timeReports.js"></script>
