<script>
    //department.js
    var let_department = "@_localization.Getkey("Departman").Value"
    var let_updateSuccess = "@_localization.Getkey("Güncelleme İşlemi Başarılı.").Value"
    var let_updateFail = "@_localization.Getkey("Güncelleme İşlemi Başarısız.").Value"
    var let_regisSuccess = "@_localization.Getkey("Kayıt İşlemi Başarılı.").Value"
    var let_regisFail = "@_localization.Getkey("Kayıt İşlemi Başarısız.").Value"
    var let_deleteSuccess = "@_localization.Getkey("Silme İşlemi Başarılı.").Value"
    var let_deleteFail = "@_localization.Getkey("Silme İşlemi Başarısız.").Value"
    var let_queue = "@_localization.Getkey("Sıra").Value"
    var let_departmentName = "@_localization.Getkey("Departman Adı").Value"
    var let_departmentNo = "@_localization.Getkey("Departman No").Value"
    var let_edit = "@_localization.Getkey("Düzenle").Value"
    var let_delete = "@_localization.Getkey("Sil").Value"
</script>

<div class="card border-light border mt-4 mb-4">
    <h6 class="card-header"><i b-eruwahco1m="" class=" uil-building me-1"></i>@_localization.Getkey("Departman İşlemleri").Value</h6>
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-sm-4">
                <button class="btn btn-success mb-2" data-bs-toggle="modal" onclick="newDepartment()" data-bs-target="#addDepartmentModal"><i class="mdi mdi-plus-circle me-2"></i>@_localization.Getkey("Departman Ekle").Value</button>
            </div>
            <div class="col-sm-8">
            </div>
        </div>
        <hr />
        <div class="table-responsive mt-4">
            <div id="divDepartments"></div>
        </div>
    </div>
</div>


<div class="modal fade" id="addDepartmentModal" tabindex="-1" role="dialog"
     aria-labelledby="addDepartmentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addDepartmentModalLabel">@_localization.Getkey("Departman Bilgileri").Value</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex align-items-center px-2 mb-2 mt-2">
                    <label class="me-2" style="width:150px;">@_localization.Getkey("Departman Adı").Value:</label>
                    <input type="text" id="inputDepartmentName" class="form-control" />
                </div>
                <div class="d-flex align-items-center px-2 mb-2 mt-2">
                    <label class="me-2" style="width:150px;">@_localization.Getkey("Departman No").Value:</label>
                    <input type="text"  class="form-control" id="inputDepartmentNo" data-toggle="input-mask" data-mask-format="000" maxlength="3" placeholder="000">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal">
                    @_localization.Getkey("Vazgeç").Value
                </button>

                <button type="button" class="btn btn-sm btn-success" onclick="saveDepartment()">
                    @_localization.Getkey("Kaydet").Value
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/department/department.js"></script>