@using SatinAlmaStokYonetim.Web.Code;
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>@_localization.Getkey("Kilit Ekranı").Value</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" disabled="disabled" />
    <link href="~/assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    <script>
        var let_invalidDate = "@_localization.Getkey("Geçersiz Tarih").Value"
        var let_rUSure = "@_localization.Getkey("Kaydı silmek istediğinizden emin misiniz?").Value"
    </script>

    <style>
        .auth-fluid {
            background-image: url(@_localization.GetImagePath("login.gif")) !important
        }

        .body.authentication-bg {
            background-image: url(@_localization.GetImagePath("loading.gif")) !important
        } 
    </style>
</head>

<body class="authentication-bg pb-0" data-layout-config='{"darkMode":false}'>

    <div class="auth-fluid">
        <!--Auth fluid left content -->
        <div class="auth-fluid-form-box">
            <div class="align-items-center d-flex h-100">
                <div class="card-body">

                    <!-- Logo -->
                    <div class="auth-brand text-center text-lg-start">
                        <a asp-area="" asp-controller="Account" asp-action="LockScreen" class="logo-dark">
                            <span><img src="@_localization.GetImagePath("navlogo.png")" alt="" height="50"></span>
                        </a>
                        <a asp-area="" asp-controller="Account" asp-action="LockScreen" class="logo-light">
                            <span><img src="@_localization.GetImagePath("navlogo_dark.png")" alt="" height="50"></span>
                        </a>
                    </div>

                    <!-- User pic with title-->
                    <div class="text-center w-75 m-auto">
                        <img src="~/assets/images/users/avatar-1.jpg" height="64" alt="user-image" class="rounded-circle shadow">
                        <h4 class="text-dark-50 text-center mt-3 fw-bold">@_localization.Getkey("Selam!").Value @Repo.Session.Name </h4>
                        <p class="text-muted mb-4">@_localization.Getkey("Yetki süren doldu, tekrardan aktif olmak için giriş yap.").Value</p>
                    </div>

                    <!-- form -->
                    <form action="#">
                        <div class="mb-3">
                            <label for="password" class="form-label">@_localization.Getkey("Şifre").Value</label>
                            <input class="form-control" type="password" required="" id="password" placeholder="@_localization.Getkey("Şifrenizi giriniz...").Value">
                        </div>
                        <div class="mb-0 text-center d-grid">
                            <button class="btn btn-primary" type="submit"><i class="mdi mdi-login"></i>@_localization.Getkey("Giriş Yap").Value</button>
                        </div>

                    </form>
                    <!-- end form-->
                    <!-- Footer-->
                    <footer class="footer footer-alt">
                        <p class="text-muted">@_localization.Getkey("Bu sen değil misin?").Value<a asp-area="" asp-controller="Account" asp-action="Login" class="text-muted ms-1"><b>@_localization.Getkey("Giriş Ekranına Dön").Value</b></a></p>
                    </footer>

                </div> <!-- end .card-body -->
            </div> <!-- end .align-items-center.d-flex.h-100-->
        </div>
        <!-- end auth-fluid-form-box-->

    </div>
    <!-- end auth-fluid-->
    <!-- bundle -->
    <script src="~/assets/js/vendor.min.js"></script>
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/js/other.js"></script>
</body>

</html>