<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@_localization.Getkey("Şifre Kurtarma Paneli").Value</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description" />
    <meta content="Coderthemes" name="author" />
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style" />
    <link href="~/assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        //recovery.js
        var let_timeToLeftToEnterTheCode = "@_localization.Getkey("Kodu girmek için kalan süre :").Value"
        var let_login = "@_localization.Getkey("Giriş").Value"
        var let_newSendCode = "@_localization.Getkey("Yeni Kod Gönder").Value"
        var let_password = "@_localization.Getkey("Şifre").Value"
        var let_codeVerificationSuccessful = "@_localization.Getkey("Kod Doğrulama İşlemi Başarılı.").Value"
        var let_codeVerification = "@_localization.Getkey("Kod Doğrulama").Value"
        var let_wrongCode = "@_localization.Getkey("Girmiş olduğunuz kod yanlış, yeniden deneyin.").Value"
        var let_duringProcessFail = "@_localization.Getkey("İşlem Sırasında Hata Oluştu.").Value"
        var let_forgetPassword = "@_localization.Getkey("Şifremi Unuttum").Value"
        var let_verificationCodeSendedMail = "@_localization.Getkey("ePostanıza Doğrulama Kodu Gönderildi.").Value"
        var let_mailAddressNotBeVerified = "@_localization.Getkey("ePosta Adresi Doğrulanamadı.").Value"

        //site.js
        var let_failedToEstablishServerConnection = "@_localization.Getkey("Sunucu Bağlantısı Kurulamadı").Value"
        var let_invalidDate = "@_localization.Getkey("Geçersiz Tarih").Value"
        var let_rUSure = "@_localization.Getkey("Kaydı silmek istediğinizden emin misiniz?").Value"


    </script>
    <style>
        .auth-fluid {
            background-image: url(@_localization.GetImagePath("login.gif"))
        }

        .body.authentication-bg {
            background-image: url(@_localization.GetImagePath("loading.gif"));
        }
    </style>

</head>

<body class="authentication-bg pb-0" data-layout-config='{"darkMode":false}'>
    <div class="auth-fluid">
        <div class="auth-fluid-form-box">
            <div class="align-items-center d-flex h-100">
                <div class="card-body">
                    <div class="auth-brand text-center text-lg-start">
                        <a asp-area="" asp-controller="Account" asp-action="RecoverPassword" class="logo-dark">
                            <span><img src="@_localization.GetImagePath("navlogo.png")" alt="" height="50"></span>
                        </a>
                        <a asp-area="" asp-controller="Account" asp-action="RecoverPassword" class="logo-light">
                            <span><img src="@_localization.GetImagePath("navlogo_dark.png")" alt="" height="50"></span>
                        </a>
                    </div>
                    <div id="EmailInput" style="display:block;">
                        <h4 class="mt-0">@_localization.Getkey("Şifreni Sıfırla").Value</h4>
                        <p class="text-muted mb-4">@_localization.Getkey("e-Posta adresinizi giriniz ve bizde size şifrenizi yenilemeniz için gerekli yönergeleri size gönderelim.").Value</p>

                        <div class="mb-3">
                            <label for="emailaddress" class="form-label">@_localization.Getkey("ePosta Adresi").Value</label>
                            <input class="form-control" type="email" id="emailaddress"  required="" placeholder="@_localization.Getkey("ePosta adresini giriniz...")" .Value>
                        </div>

                        <div class="mb-0 text-center d-grid">
                            <button class="btn btn-primary" onclick="recovery()" id="emailaddress2" type="submit"><i class="mdi mdi-lock-reset"></i>@_localization.Getkey("Şifreyi Sıfırla").Value</button>
                        </div>
                    </div>
                    <div id="CodeInput" style="display:none;">
                        <h4 class="mt-0">@_localization.Getkey("Bilgi").Value</h4>
                        <p class="text-muted mb-4">@_localization.Getkey("ePostanıza gelen doğrulama kodunu giriniz.").Value</p>
                        <form method="post" class="digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
                            <div class="row mb-2 ml-3" style="margin-left: 8px;">
                                <input class="form-control mb-2" style="width:50px; margin-right:8px;" type="text" id="digit-1" name="digit-1" data-next="digit-2" />
                                <input class="form-control mb-2" style="width:50px;margin-right:8px;" type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" />
                                <input class="form-control mb-2" style="width:50px;margin-right:8px;" type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" />
                                <input class="form-control mb-2" style="width:50px;margin-right:8px;" type="text" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" />
                                <input class="form-control mb-2" style="width:50px;margin-right:8px;" type="text" id="digit-5" name="digit-5" data-next="digit-6" data-previous="digit-4" />
                                <input class="form-control mb-2" style="width:50px;margin-right:8px;" type="text" id="digit-6" />
                            </div>
                        </form>

                        <div class="mb-0 text-center d-grid">
                            <div id="errorFeedback2" class="mx-2" style="color:#dc3545"></div>
                            <div class="text-center">
                                <a id="kalan_zaman"></a>
                            </div>
                            <br />

                            <button id="yeni_kod" class="btn btn-primary" type="button" onclick="retryLogin()"></button>
                            <button id="giris" class="btn btn-success" onclick="entryCode()" type="submit"><i class="mdi mdi-barcode-scan"></i></button>
                        </div>
                    </div>


                    <div id="PasswordInput" style="display:none;">
                        <h4 class="mt-0">@_localization.Getkey("Bilgiler").Value</h4>
                        <p class="text-muted mb-4">@_localization.Getkey("Yeni Şifrenizi Giriniz").Value</p>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">@_localization.Getkey("Yeni Şifreniz:").Value</label>

                            <input class="form-control" type="password" id="inputPassword" required="" placeholder="">
                        </div>
                        <div id="errorFeedback3" class="mx-2" style="color:#dc3545"></div>
                        <div class="mb-0 text-center d-grid">
                            <button class="btn btn-primary" onclick="entryNewPassword()" id="inputPassword2" type="submit"><i class="mdi mdi-account-convert"></i>@_localization.Getkey("Şifremi Güncelle").Value</button>
                        </div>
                    </div>

                    <footer class="footer footer-alt">
                        <p class="text-muted">@_localization.Getkey("Giriş Ekranına").Value <a asp-area="" asp-controller="Account" asp-action="Login" class="text-muted ms-1"><b>@_localization.Getkey("Geri Dön").Value</b></a></p>
                    </footer>

                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/js/vendor.min.js"></script>
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/js/other.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/account/recovery.js"></script>
    <script src="~/js/customInput.js"></script>
</body>

</html>